/*---------- 全局 -----------*/
* {
    padding: 0;
    margin: 0;

}

body {
    background-color: #f9f9f9;
}

a:link {
    color: #000000;
}

/* 未访问链接*/
a:visited {
    color: #000000;
}

/* 已访问链接 */
a:hover {
    color: #1ecd97;
}

/* 鼠标移动到链接上 */
a:active {
    color: #1ecd97;
}

/* 鼠标点击时 */

a {
    text-decoration: none !important;
}



/*----------- 左侧固定栏------------ */
div.left_h {
    background-color: #f9f9f9;
    position: fixed;
    height: 100%;
    top: 0px;
}

div.logo {
    /*position: fixed;*/
    width: 100%;
    background-color: #ffffff;
    float: left;
    height: 65px;
    display: block;


    background-size: 80% 100%;
    background-repeat: no-repeat;
    /*不要平铺*/
    background-position: center center;
}


/* ---- 列表 ----*/
div.left_list {
    display: block;
    margin-top: 65px;
    /* padding-top:20px; */
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    /* padding-top: 5px; */
}

div.l_l_i {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 25px;
    padding-left: 20px;
}

div.l_l_i a {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-weight: 900;
}

div.l_l_i img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}


/*----------------- 右侧主体 ------------*/

div.top_b {
    /*  */
}

/* --------------顶部------------ */
div.top {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    /* height: 40px; */
    /* margin-left: 200px; */
    position: fixed;
    height: 65px;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.3s;
    width: 100%;
}


div.top .lli {
    height: 100%;
}

div.top a {
    transition: color 0.3s;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* color: #ffffff ; */
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

div.top p {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 900;
}

div.top img {
    width: 30px;
    height: 30px;
}

div.top a:link {
    color: #ffffff;

}

/* 未访问链接*/

div.top a:visited {
    color: #ffffff;
}

/* 已访问链接 */

div.top a:hover {
    color: #1ecd97;
}

/* 鼠标移动到链接上 */

div.top a:active {
    color: #1ecd97;
}

/* 鼠标点击时 */


/*------- 为了换色-------- */
div.top_w {
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    /* height: 40px; */

    position: fixed;
    height: 65px;
    background-color: rgba(255, 255, 255, 1);
    transition: background-color 0.3s;
    width: 100%;

}


div.top_w .lli {
    height: 100%;
}

div.top_w a {
    transition: color 0.3s;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    /* color: #000000 ; */
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

div.top_w p {
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: 900;
}

div.top_w img {
    width: 30px;
    height: 30px;
}

/* 未访问链接*/
div.top_w a:link {
    color: #000000;
}

/* 已访问链接 */
div.top_w a:visited {
    color: #000000;
}

/* 鼠标移动到链接上 */
div.top_w a:hover {
    color: #1ecd97;
}

/* 鼠标点击时 */
div.top_w a:active {
    color: #1ecd97;
}




/*------ 搜索框 -----*/
div.search {

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #adb4bb; */
    background: url(http://tls.truraly.icu/media/Base/back_ground_002.jpg) repeat;
    background-size: 100% auto;
    background-repeat: no-repeat;
    /*不要平铺*/
    background-position: left bottom;
    height: 370px;
}

div.search_blok {
    width: 45%;
}

input[type=text] {
    /* 圆滑度 */
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 40px;
    border: none;
    color: #ffffff;
    padding-left: 20px;
    transition: 0.5s;
}

/*------ 所有网站 -----*/
div.wws {
    padding: 25px;

}

/* 类别 */
div.cli_t {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 10px;
}

div.cli_t h3 {
    color: #000000;
}

div.cli_t img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

/* 框 */
div.cli_s {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

div.cli_s_d a {
    border-color: #acacac;
    border-style: solid;
    border-width: 2px;
    margin: 10px 15px 25px 15px;
    width: 200px;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

div.cli_s_d img {
    margin-left: 10px;
    width: 30px;
    height: 30px;

}

div.cli_s_d_s {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

div.cli_s_d_s p {
    color: #6c757d;
}






/* ---------------------------------------------------------------------------------------- */
@media screen and (min-width: 870px) {
    div.top_b {
        margin-left: 220px;
    }

    div.left_h {
        width: 220px;
    }

    div.top {
        margin-left: 220px;
    }

    div.top_w {
        margin-left: 220px;
    }

    div.logo {
        background-image: url(http://tls.truraly.icu/media/Base/tldh_bl.png);
        background-size: 80% 100%;
        background-repeat: no-repeat;
        /*不要平铺*/
        background-position: center center;
    }
}

/* -------------------------------------------------------------------------------------- */
@media screen and (max-width: 870px) and (min-width:728px) {
    div.top_b {
        margin-left: 50px;
    }

    div.left_h {
        width: 50px;
    }

    div.top {
        margin-left: 50px;
    }

    div.top_w {
        margin-left: 50px;
    }

    div.l_l_i p {
        display: none;
    }

    div.l_l_i {
        padding-left: 10px;
    }

    div.logo {
        background-image: url(http://tls.truraly.icu/media/Base/t.png);
        background-size: 70% 60%;
        background-repeat: no-repeat;
        /*不要平铺*/
        background-position: center center;
    }

}


/* ------------------------------------------------------------------------ */

@media screen and (max-width: 728px) and (min-width:550px) {
    div.top_b {
        margin-left: 0px;
    }

    div.left_h {

        display: none;
    }

    div.top {
        margin-left: 0px;
    }

    div.top_w {
        margin-left: 0px;
    }

    div.search {
        /* background-size: auto 100%; */
        height: 300px;
    }


    div.cli_s_d_s p {
        color: #6c757d;
        display: none;
    }

    div.cli_s_d a {
        margin: 7px 13px 20px 13px;
        width: 170px;
        height: 40px;
    }

    div.cli_s_d img {
        margin-left: 5px;
        width: 25px;
        height: 25px;
    }

    div.cli_s_d_s {
        margin-left: 5px;
    }
}

/* ------------------------------- */
@media screen and (max-width:550px) {
    div.top_b {
        margin-left: 0px;
    }

    div.left_h {
        display: none;
    }

    div.top {
        margin-left: 0px;
    }

    div.top_w {
        margin-left: 0px;
    }

    div.search {
        background-size: auto 100%;
        height: 300px;
    }

    div.cli_s_d_s p {
        color: #6c757d;
        display: none;
    }

    div.cli_s_d a {
        margin: 7px 13px 20px 13px;
        width: 170px;
        height: 40px;
    }

    div.cli_s_d img {
        margin-left: 5px;
        width: 25px;
        height: 25px;
    }

    div.cli_s_d_s {
        margin-left: 5px;
    }

}